{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Проверка номера телефона</h1>
        <form method="post">
            <div class="form-group">
                <label for="phone_number">Введите номер телефона ниже:</label>
                <input type="text" class="form-control {% if error %}is-invalid{% endif %}" id="phone_number" name="phone_number" value="{% if phone_number %}{{ phone_number }}{% else %} {% endif %}">
            
                {% if error %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Проверить</button>
        </form>
    </div>
</body>

{% endblock %}