{% from 'pagination.html' import render_pagination %}
{% extends 'base.html' %}

{% block title %}Журнал посещений{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    {% if current_user.role.name == 'admin' %}
    <div class="text-center my-3">
        <a class="btn btn-info" href="{{ url_for('visit_logs.pages') }}">Посещения по страницам</a>
        <a class="btn btn-info" href="{{ url_for('visit_logs.users') }}">Посещения по пользователям</a>
    </div>
    {% endif %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Посещения пользователей</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Пользователь</th>
                    <th>Страница</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for visit_log in visit_logs %}
                    <tr>
                        <td>{{ loop.index + (pagination.page - 1) * pagination.per_page }}</td>
                        <td>{{ visit_log.user }}</td>
                        <td>{{ visit_log.page }}</td>
                        <td>{{ visit_log.creation_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mb-5">
            {{ render_pagination(pagination, request.endpoint) }}
        </div>
    </div>
{% endblock %}