{% extends 'base.html' %}

{% block title %}Посещения по страницам{% endblock %}

{% block content %}
<div class="text-center my-3">
    <a class="btn btn-info" href="{{ url_for('visit_logs.users') }}">Посещения по пользователям</a>
    <a class="btn btn-info" href="{{ url_for('visit_logs.index') }}">Посещения пользователей</a>
</div>    
<div class="container mt-5">
        <h1 class="text-center mb-4">Посещения по страницам</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Страница</th>
                    <th>Кол-во посещений</th>
                </tr>
            </thead>
            <tbody>
                {% for page in page_visits %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ page.page }}</td>
                        <td>{{ page.visits }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="pages/export">Выгрузка посещений</a>
    </div>
{% endblock %}